USE [master]
GO
/****** Object:  Database [SHOPONLINE]    Script Date: 17/10/2019 1:37:51 CH ******/
CREATE DATABASE [SHOPONLINE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOPONLINE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SHOPONLINE.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SHOPONLINE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SHOPONLINE_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPONLINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPONLINE]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 17/10/2019 1:37:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[customerID] [char](4) NOT NULL,
	[customerName] [varchar](50) NOT NULL,
	[pw] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERD]    Script Date: 17/10/2019 1:37:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERD](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NOT NULL,
	[paymentMethod] [float] NOT NULL,
	[customerID] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERLINE]    Script Date: 17/10/2019 1:37:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERLINE](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 17/10/2019 1:37:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](50) NOT NULL,
	[productPrice] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CUSTOMER] ([customerID], [customerName], [pw]) VALUES (N'P001', N'Duc', N'123456aa')
INSERT [dbo].[CUSTOMER] ([customerID], [customerName], [pw]) VALUES (N'P002', N'Phi', N'123456aa')
INSERT [dbo].[CUSTOMER] ([customerID], [customerName], [pw]) VALUES (N'P003', N'Bi', N'123456aa')
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([productID], [productName], [productPrice]) VALUES (1, N'Ipad', 200)
INSERT [dbo].[PRODUCT] ([productID], [productName], [productPrice]) VALUES (2, N'Iphone 11', 250)
INSERT [dbo].[PRODUCT] ([productID], [productName], [productPrice]) VALUES (3, N'Apple wath s3', 260)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
ALTER TABLE [dbo].[ORDERD]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[CUSTOMER] ([customerID])
GO
ALTER TABLE [dbo].[ORDERLINE]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[ORDERD] ([orderID])
GO
ALTER TABLE [dbo].[ORDERLINE]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[PRODUCT] ([productID])
GO
USE [master]
GO
