USE [master]
GO
/****** Object:  Database [FUStudent]    Script Date: 02/10/2019 11:00:33 SA ******/
CREATE DATABASE [FUStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FUStudent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FUStudent.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FUStudent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FUStudent_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUStudent]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 02/10/2019 11:00:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [name], [gender], [dob]) VALUES (5, N'Hoang', 1, CAST(N'2016-06-09' AS Date))
INSERT [dbo].[Student] ([id], [name], [gender], [dob]) VALUES (6, N'Huong', 0, CAST(N'1995-09-19' AS Date))
INSERT [dbo].[Student] ([id], [name], [gender], [dob]) VALUES (7, N'Hoang', 1, CAST(N'2004-07-09' AS Date))
SET IDENTITY_INSERT [dbo].[Student] OFF
USE [master]
GO
